<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">{{ 'IR A CUENTAS' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image circle-pic"  />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/rozzanoGarden.jpg" class="slide-image circle-pic"  />
      <h2 class="slide-title">{{ 'Comencemos!' | translate }}</h2>
      <ion-row>
        <ion-col>
          <button col-6 ion-button color="primary" round small (click)="startApp()">
            <ion-icon name="arrow-forward" color="light"></ion-icon>Cuentas
          </button>
          <br><br>
          <button col-6 ion-button color="secondary" round small outline (click)="goToCatalogo()">
            Soy un visitante
          </button>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-content>
